<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title> Car Dealer -{{carname}} </title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"
     </head>
  <body>
    <h1>Welcome to car dealer </h1> 

<!-- details using car name parameter -->
    <h2>Details for {{carname}}:</h2>


        <ul>
        {{#with stats}}
            <li class="stats">Car Name: {{ carname }}
            <li class="stats">Year Made: {{ year }}
            <li class="stats">Color: {{ color }}
            <li class="stats">Type:{{ type }}   
        {{/with}}
        </ul>

        <p class="home"><a href="../"> Back to Home page</a></p>